.SearchBar__root {
    flex-direction: column;
    display: flex;
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
}

.SearchBar__input {
    border: 1px solid #d3d3d361;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

.SearchBar__orderDropDown {
    margin-left: 10px;
}

.SearchBar__advancedOptionsButton {
    cursor: pointer;
    margin: 10px;
}

.SearchBar__advancedOptionsButtonOpen {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
}

.SearchBar__advancedOptionsContainer {
    display: flex;
    padding: 10px;
}