@media (max-width: 550px) {
  .App__root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .App__bodyContainer {
    display: flex;
    flex-direction: column;
    padding: 3vh 3vw;
    height: 94vh;
    background: #d3d3d347;
  }
}

@media (min-width: 550px) {
  .App__root {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 100px;
  }

  .App__bodyContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    height: 70vh;
  }
}
